// Brand colors
$azure-radiance: #1b7eee;
$bon-jour: #e2e0de;
$curious-blue: #009fec;
$iceberg: #d3f5f4;
$jelly-bean: #007794;
$mercury: #e3e3e3;
$mountain-mist: #959493;
$spring-wood: #fbf8f3;
$yellow-orange: #ffac44;
