@use "variables" as *;

// Layout
.container {
	padding-inline: 5%;
}

.card {
	border: 1px solid $mercury;
	border-radius: 0.25rem;
	padding-block: 1rem;
	padding-inline: 1.25rem;
	gap: 0.75rem;

	&__title {
		gap: 0.5rem;
	}

	&__emoji {
		font-size: 2rem;
	}

	&--twitter {
		@extend .card;

		border: 0;
		background: white;

		&__header {
			grid-template-columns: auto min-content;
			justify-content: space-between;
			align-items: center;
		}

		&__user-data-container {
			grid-template-columns: min-content auto;
			align-items: center;
			gap: 0.5rem;
		}

		&__name {
			font-weight: 600;
			font-size: 0.75em;
			color: black;
		}

		&__username {
			font-size: 0.5em;
		}

		&__footer {
			grid-template-columns: min-content auto;
			justify-content: space-between;
			align-items: center;
		}

		&__likes-container {
			grid-template-columns: min-content min-content;
			align-items: center;
			gap: 0.25rem;
		}
	}

	&--plan {
		@extend .card;

		border-color: $yellow-orange;
		padding-block: 2rem;
		background: $spring-wood;

		&__header {
			margin-bottom: 0.5rem;
			gap: 0.25rem;
		}

		&__title {
			font-size: 1.4rem;
		}

		&__recurrence {
			font-size: 1.2rem;
		}

		&__price {
			font-weight: 700;
			font-size: 2.4rem;
			color: black;
		}

		&__list {
			padding-left: 8%;
			margin-block: 0.5rem;
			display: grid;
			gap: 1.25rem;
			list-style-image: url("/img/check.svg");
			color: $mountain-mist;
		}
	}
}

.footer {
	&__legal-info-container {
		display: grid;
		grid-template-columns: min-content max-content max-content;
		align-items: center;
		gap: 1rem;
	}

	&__link {
		font-weight: 300;
		font-size: 0.875rem;
		color: $mountain-mist;
	}
}

// Navbar
.navbar-container {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;
}

// Typography
.title {
	font-size: 1.8rem;
}

.text-focus {
	font-weight: 600;
	color: $jelly-bean;
}

// Icons
.icon {
	&--curious-blue {
		fill: $curious-blue;
	}

	&--mountain-mist {
		fill: $mountain-mist;
	}

	&--white {
		fill: white;
	}
}

// Pictures
.avatar-picture {
	width: auto;
	height: 2.5rem;
}

.logo {
	font-weight: 800;
	font-style: italic;
	font-size: 1.25rem;
	color: $curious-blue;
	user-select: none;
}

// Buttons
.btn {
	&--twitter {
		background: $curious-blue;
	}
}
