---
import TwitterIcon from "@components/TwitterIcon.astro"
---

<div class="card--plan">
	<div class="card--plan__header">
		<p class="card--plan__title">Monthly</p>
		<p class="card--plan__recurrence">
			<span class="card--plan__price">$9</span>/mo
		</p>
	</div>
	<hr />
	<ul class="card--plan__list">
		<li>Unlimited* scheduled tweets and threads.</li>
		<li>Schedule up to 3 weeks in advance.</li>
		<li>Real-time audience analytics tracking up to 5k followers.</li>
	</ul>
	<hr />
	<button class="btn--large btn--twitter">
		<TwitterIcon class="icon--white" />
		 Start trial with Twitter
	</button>
</div>
