---
import TwitterIcon from "@components/TwitterIcon.astro"

const { class: classNames } = Astro.props
---

<button class:list={["btn--twitter", classNames]}>
	<TwitterIcon class="icon--white" />
	 Sign in with Twitter
</button>
