---
import "@styles/globals.scss"
---

<!doctype html>
<html lang="en-US">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta charset="UTF-8" />
		<meta name="googlebot" content="noindex" />
		<meta name="robots" content="noindex" />
		<title>Chirp</title>
	</head>
	<body>
		<slot />
	</body>
	<script>
		document.addEventListener("touchstart", () => {})
	</script>
</html>
